rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pantryAccess/{passwordKey} {
      allow read, write: if true;
    }

    match /pantries/{pantryId}/{document=**} {
      allow read, write: if true;
    }
  }
}
